# Pandas Data Structures and Operations

Pandas is a well-documented library. You may look into pandas' official documentation here: https://pandas.pydata.org/pandas-docs/stable/

In [2]:
import pandas as pd

## Loading data into a Pandas DataFrame

In [20]:
#The line below shows documentation of a function. To do so just add a "?" before the function call
?pd.read_csv

Signature:
pd.read_csv(
    filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]',
    *,
    sep: 'str | None | lib.NoDefault' = <no_default>,
    delimiter: 'str | None | lib.NoDefault' = None,
    header: "int | Sequence[int] | None | Literal['infer']" = 'infer',
    names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>,
    index_col: 'IndexLabel | Literal[False] | None' = None,
    usecols: 'UsecolsArgType' = None,
    dtype: 'DtypeArg | None' = None,
    engine: 'CSVEngine | None' = None,
    converters: 'Mapping[Hashable, Callable] | None' = None,
    true_values: 'list | None' = None,
    false_values: 'list | None' = None,
    skipinitialspace: 'bool' = False,
    skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None,
    skipfooter: 'int' = 0,
    nrows: 'int | None' = None,
    na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool | lib.NoDefault' = <no_default>,
    skip_blank_lines: 'bool' = True,
    parse_dates: 'bool | Sequence[Hashable] | None' = None,
    infer_datetime_format: 'bool | lib.NoDefault' = <no_default>,
    keep_date_col: 'bool | lib.NoDefault' = <no_default>,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'str | dict[Hashable, str] | None' = None,
    dayfirst: 'bool' = False,
    cache_dates: 'bool' = True,
    iterator: 'bool' = False,
    chunksize: 'int | None' = None,
    compression: 'CompressionOptions' = 'infer',
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    lineterminator: 'str | None' = None,
    quotechar: 'str' = '"',
    quoting: 'int' = 0,
    doublequote: 'bool' = True,
    escapechar: 'str | None' = None,
    comment: 'str | None' = None,
    encoding: 'str | None' = None,
    encoding_errors: 'str | None' = 'strict',
    dialect: 'str | csv.Dialect | None' = None,
    on_bad_lines: 'str' = 'error',
    delim_whitespace: 'bool | lib.NoDefault' = <no_default>,
    low_memory: 'bool' = True,
    memory_map: 'bool' = False,
    float_precision: "Literal['high', 'legacy'] | None" = None,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
) -> 'DataFrame | TextFileReader'
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Character or regex pattern to treat as the delimiter. If ``sep=None``, the
    C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator from only the first valid
    row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
    In addition, separators longer than 1 character and different from
    ``'\s+'`` will be interpreted as regular expressions and will also force
    the use of the Python parsing engine. Note that regex delimiters are prone
    to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, optional
    Alias for ``sep``.
header : int, Sequence of int, 'infer' or None, default 'infer'
    Row number(s) containing column labels and marking the start of the
    data (zero-indexed). Default behavior is to infer the column names: if no ``names``
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly to ``names`` then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a :class:`~pandas.MultiIndex` on the columns
    e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : Sequence of Hashable, optional
    Sequence of column labels to apply. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : Hashable, Sequence of Hashable or False, optional
  Column(s) to use as row label(s), denoted either by column labels or column
  indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
  will be formed for the row labels.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g., when you have a malformed file with delimiters at
  the end of each line.
usecols : Sequence of Hashable or Callable, optional
    Subset of columns to select, denoted either by column labels or column indices.
    If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in ``names`` or
    inferred from the document header row(s). If ``names`` are given, the document
    header row(s) are not taken into account. For example, a valid list-like
    ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
    preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
    for columns in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to ``True``. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
dtype : dtype or dict of {Hashable : dtype}, optional
    Data type(s) to apply to either the whole dataset or individual columns.
    E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
    Use ``str`` or ``object`` together with suitable ``na_values`` settings
    to preserve and not interpret ``dtype``.
    If ``converters`` are specified, they will be applied INSTEAD
    of ``dtype`` conversion.

    .. versionadded:: 1.5.0

        Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
        the default determines the ``dtype`` of the columns which are not explicitly
        listed.
engine : {'c', 'python', 'pyarrow'}, optional
    Parser engine to use. The C and pyarrow engines are faster, while the python engine
    is currently more feature-complete. Multithreading is currently only supported by
    the pyarrow engine.

    .. versionadded:: 1.4.0

        The 'pyarrow' engine was added as an *experimental* engine, and some features
        are unsupported, or may not work correctly, with this engine.
converters : dict of {Hashable : Callable}, optional
    Functions for converting values in specified columns. Keys can either
    be column labels or column indices.
true_values : list, optional
    Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
false_values : list, optional
    Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : int, list of int or Callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (``int``)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
    Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
    per-column ``NA`` values.  By default the following values are interpreted as
    ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
    "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
    "n/a", "nan", "null ".

keep_default_na : bool, default True
    Whether or not to include the default ``NaN`` values when parsing the data.
    Depending on whether ``na_values`` is passed in, the behavior is as follows:

    * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
      is appended to the default ``NaN`` values used for parsing.
    * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
      the default ``NaN`` values are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
      the ``NaN`` values specified ``na_values`` are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
      strings will be parsed as ``NaN``.

    Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
    ``na_values`` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of ``na_values``). In
    data without any ``NA`` values, passing ``na_filter=False`` can improve the
    performance of reading a large file.
verbose : bool, default False
    Indicate number of ``NA`` values placed in non-numeric columns.

    .. deprecated:: 2.2.0
skip_blank_lines : bool, default True
    If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
    The behavior is as follows:

    * ``bool``. If ``True`` -> try parsing the index. Note: Automatically set to
      ``True`` if ``date_format`` or ``date_parser`` arguments have been passed.
    * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
      each as a separate date column.
    * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
      as a single date column. Values are joined with a space before parsing.
    * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
      result 'foo'. Values are joined with a space before parsing.

    If a column or index cannot be represented as an array of ``datetime``,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an ``object`` data type. For
    non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
    :func:`~pandas.read_csv`.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
    format of the ``datetime`` strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.

    .. deprecated:: 2.0.0
        A strict version of this argument is now the default, passing it has no effect.

keep_date_col : bool, default False
    If ``True`` and ``parse_dates`` specifies combining multiple columns then
    keep the original columns.
date_parser : Callable, optional
    Function to use for converting a sequence of string columns to an array of
    ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. pandas will try to call ``date_parser`` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by ``parse_dates`` into a single array
    and pass that; and 3) call ``date_parser`` once for each row using one or
    more strings (corresponding to the columns defined by ``parse_dates``) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`~pandas.to_datetime` as-needed.
date_format : str or dict of column -> format, optional
    Format to use for parsing dates when used in conjunction with ``parse_dates``.
    The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
    `strftime documentation
    <https://docs.python.org/3/library/datetime.html
    #strftime-and-strptime-behavior>`_ for more information on choices, though
    note that :const:`"%f"` will parse all the way up to nanoseconds.
    You can also pass:

    - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
        time string (not necessarily in exactly the same format);
    - "mixed", to infer the format for each element individually. This is risky,
        and you should probably use it along with `dayfirst`.

    .. versionadded:: 2.0.0
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If ``True``, use a cache of unique, converted dates to apply the ``datetime``
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

iterator : bool, default False
    Return ``TextFileReader`` object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, optional
    Number of lines to read from the file per chunk. Passing a value will cause the
    function to return a ``TextFileReader`` object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

compression : str or dict, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
    Set to ``None`` for no decompression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
    other key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for Zstandard decompression using a
    custom compression dictionary:
    ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

    .. versionadded:: 1.5.0
        Added support for `.tar` files.

    .. versionchanged:: 1.4.0 Zstandard support.

thousands : str (length 1), optional
    Character acting as the thousands separator in numerical values.
decimal : str (length 1), default '.'
    Character to recognize as decimal point (e.g., use ',' for European data).
lineterminator : str (length 1), optional
    Character used to denote a line break. Only valid with C parser.
quotechar : str (length 1), optional
    Character used to denote the start and end of a quoted item. Quoted
    items can include the ``delimiter`` and it will be ignored.
quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
    ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
    characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
    or ``lineterminator``.
doublequote : bool, default True
   When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    Character used to escape other characters.
comment : str (length 1), optional
    Character indicating that the remainder of line should not be parsed.
    If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter ``header`` but not by
    ``skiprows``. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
    treated as the header.
encoding : str, optional, default 'utf-8'
    Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

encoding_errors : str, optional, default 'strict'
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
    ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
    override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
    documentation for more details.
on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

    - ``'error'``, raise an Exception when a bad line is encountered.
    - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
    - ``'skip'``, skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

    .. versionadded:: 1.4.0

        - Callable, function with signature
          ``(bad_line: list[str]) -> list[str] | None`` that will process a single
          bad line. ``bad_line`` is a list of strings split by the ``sep``.
          If the function returns ``None``, the bad line will be ignored.
          If the function returns a new ``list`` of strings with more elements than
          expected, a ``ParserWarning`` will be emitted while dropping extra elements.
          Only supported when ``engine='python'``

    .. versionchanged:: 2.2.0

        - Callable, function with signature
          as described in `pyarrow documentation
          <https://arrow.apache.org/docs/python/generated/pyarrow.csv.ParseOptions.html
          #pyarrow.csv.ParseOptions.invalid_row_handler>`_ when ``engine='pyarrow'``

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be

In [4]:
grades_df = pd.read_csv("sample_gradebook.csv") #this is dataframe like in R. We're putting the contents of csv into grades_df

### For Google Colab:
1. Mount the google drive
2. Use read_csv to the google drive path

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

In [6]:
# Change path with relative path to your csv file from your drive
grades_df=pd.read_csv('gdrive/My Drive/sample_gradebook.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'gdrive/My Drive/sample_gradebook.csv'

## View dataset info

In [21]:
grades_df.info() #views the dataset info like the data index at the left most, the variables(column headers), number of observations and data type of each

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     20 non-null     object
 1   Section  20 non-null     object
 2   CSMODEL  20 non-null     float64
 3   CCPROG1  20 non-null     float64
 4   CCPROG2  20 non-null     float64
dtypes: float64(3), object(2)
memory usage: 932.0+ bytes

DataFrame dimensions can be retrieved via the [`shape`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html) property

In [22]:
grades_df.shape #returns a tuple. the tuple returns the dimensions. the amount of numbers, separated by a comma is the total number of dimensions
#The first number in the tuple is the number of rows (observations)
#The second number is the number of columns (variables)

(20, 5)

In [9]:
grades_df #can also be print(grade_df), just like in R.

                Name Section  CSMODEL  CCPROG1  CCPROG2
0      Robert Irvine      S2      1.5      1.0      2.0
1        Misha Sweet      S1      2.0      2.5      4.0
2     Forrest Medina      S1      1.0      3.0      1.5
3       Kohen Decker      S1      2.5      3.5      3.0
4      Daniela Quinn      S2      2.5      3.5      3.5
5     Saqlain Branch      S1      3.0      2.5      2.5
6   Evie-Mai Maynard      S1      2.5      3.0      4.0
7      Orion Sparrow      S2      1.5      1.0      2.5
8        Yash Pruitt      S2      4.0      1.0      1.0
9       Zidane Riggs      S1      1.0      2.0      3.0
10    Armaan Fischer      S2      3.5      4.0      3.5
11   Amman Sanderson      S2      2.5      4.0      3.5
12       Eamon Hobbs      S2      2.5      3.5      2.0
13       Eman Riddle      S1      3.5      2.5      2.5
14      Ikrah Chavez      S2      3.0      2.5      1.5
15     Carlos Robins      S2      3.5      3.0      4.0
16      Willem Green      S2      3.5      4.0      4.0
17      Jacques Leon      S1      2.0      1.0      3.5
18       Sohail Ford      S1      1.5      1.5      4.0
19       Griffin Liu      S2      3.5      3.5      3.0

## Selecting a Column

In [10]:
grades_df["Name"] #Selects the column

0        Robert Irvine
1          Misha Sweet
2       Forrest Medina
3         Kohen Decker
4        Daniela Quinn
5       Saqlain Branch
6     Evie-Mai Maynard
7        Orion Sparrow
8          Yash Pruitt
9         Zidane Riggs
10      Armaan Fischer
11     Amman Sanderson
12         Eamon Hobbs
13         Eman Riddle
14        Ikrah Chavez
15       Carlos Robins
16        Willem Green
17        Jacques Leon
18         Sohail Ford
19         Griffin Liu
Name: Name, dtype: object

In [11]:
# Another way of accessing single columns
#Quick reminder that this is Zero-index, so data sets all start with index 0
grades_df.Name

0        Robert Irvine
1          Misha Sweet
2       Forrest Medina
3         Kohen Decker
4        Daniela Quinn
5       Saqlain Branch
6     Evie-Mai Maynard
7        Orion Sparrow
8          Yash Pruitt
9         Zidane Riggs
10      Armaan Fischer
11     Amman Sanderson
12         Eamon Hobbs
13         Eman Riddle
14        Ikrah Chavez
15       Carlos Robins
16        Willem Green
17        Jacques Leon
18         Sohail Ford
19         Griffin Liu
Name: Name, dtype: object

In [23]:
type(grades_df["Name"])
#Essentially, a data frame is composed of multiple series. A series is just one dimensional n-array with axis labels.

pandas.core.series.Series

## Selecting Multiple Columns

In [26]:
grades_df[["Name","Section"]]
# Selects two columns from the data frame and returns a dataframe composed of those columns
# type(grades_df[["Name", "Section"]]) - returns the data type

                Name Section
0      Robert Irvine      S2
1        Misha Sweet      S1
2     Forrest Medina      S1
3       Kohen Decker      S1
4      Daniela Quinn      S2
5     Saqlain Branch      S1
6   Evie-Mai Maynard      S1
7      Orion Sparrow      S2
8        Yash Pruitt      S2
9       Zidane Riggs      S1
10    Armaan Fischer      S2
11   Amman Sanderson      S2
12       Eamon Hobbs      S2
13       Eman Riddle      S1
14      Ikrah Chavez      S2
15     Carlos Robins      S2
16      Willem Green      S2
17      Jacques Leon      S1
18       Sohail Ford      S1
19       Griffin Liu      S2

## Selecting a Row
For selecting rows, we use `.loc` or `.iloc`

`.loc` selects a row based on the given index label, whereas `.iloc` selects a rows based on integer location (i.e., where the row is from the current state of the dataframe).

In [30]:
grades_df.iloc[2]
#Shows the observation of index 2, the third element

Name       Forrest Medina
Section                S1
CSMODEL               1.0
CCPROG1               3.0
CCPROG2               1.5
Name: 2, dtype: object

In [36]:
type(grades_df.loc[2])
#a single row of observation will return a series, but a range of rows will return a dataframe

pandas.core.series.Series

Or a range of rows:

*Take note that `loc` uses an inclusive, whereas `iloc` excludes the given end bound of the range*

In [32]:
grades_df.loc[0:4]
#rows of observations. loc is inclusive meaning from 0'th index to 4'th index (1-5 elements)

             Name Section  CSMODEL  CCPROG1  CCPROG2
0   Robert Irvine      S2      1.5      1.0      2.0
1     Misha Sweet      S1      2.0      2.5      4.0
2  Forrest Medina      S1      1.0      3.0      1.5
3    Kohen Decker      S1      2.5      3.5      3.0
4   Daniela Quinn      S2      2.5      3.5      3.5

In [34]:
grades_df.iloc[0:4]
#iloc is exclusive meaning 0th index to 4th index but only 1-4 elements.

             Name Section  CSMODEL  CCPROG1  CCPROG2
0   Robert Irvine      S2      1.5      1.0      2.0
1     Misha Sweet      S1      2.0      2.5      4.0
2  Forrest Medina      S1      1.0      3.0      1.5
3    Kohen Decker      S1      2.5      3.5      3.0

You may also specify column(s) with `.loc` and `.iloc`:

In [37]:
grades_df.iloc[0:2, 0:4]
#exclusivity of iloc works for both. In this tuple, first range is for rows, second range is for columns.

            Name Section  CSMODEL  CCPROG1
0  Robert Irvine      S2      1.5      1.0
1    Misha Sweet      S1      2.0      2.5

## Filter Rows

In [38]:
grades_df[grades_df.CSMODEL >= 3.5]
#conditional set in to show only where CSMODEL column has values equal or above 3.5

              Name Section  CSMODEL  CCPROG1  CCPROG2
8      Yash Pruitt      S2      4.0      1.0      1.0
10  Armaan Fischer      S2      3.5      4.0      3.5
13     Eman Riddle      S1      3.5      2.5      2.5
15   Carlos Robins      S2      3.5      3.0      4.0
16    Willem Green      S2      3.5      4.0      4.0
19     Griffin Liu      S2      3.5      3.5      3.0

## Sort Rows

In [47]:

grades_df.sort_values(by='CSMODEL')
#sorts values ascending where the it will sort BY the column "CSMODEL"
#also, case sensitive
#?grades_df.sort_values

                Name Section  CSMODEL  CCPROG1  CCPROG2
9       Zidane Riggs      S1      1.0      2.0      3.0
2     Forrest Medina      S1      1.0      3.0      1.5
18       Sohail Ford      S1      1.5      1.5      4.0
7      Orion Sparrow      S2      1.5      1.0      2.5
0      Robert Irvine      S2      1.5      1.0      2.0
1        Misha Sweet      S1      2.0      2.5      4.0
17      Jacques Leon      S1      2.0      1.0      3.5
6   Evie-Mai Maynard      S1      2.5      3.0      4.0
3       Kohen Decker      S1      2.5      3.5      3.0
11   Amman Sanderson      S2      2.5      4.0      3.5
12       Eamon Hobbs      S2      2.5      3.5      2.0
4      Daniela Quinn      S2      2.5      3.5      3.5
5     Saqlain Branch      S1      3.0      2.5      2.5
14      Ikrah Chavez      S2      3.0      2.5      1.5
10    Armaan Fischer      S2      3.5      4.0      3.5
13       Eman Riddle      S1      3.5      2.5      2.5
15     Carlos Robins      S2      3.5      3.0      4.0
16      Willem Green      S2      3.5      4.0      4.0
19       Griffin Liu      S2      3.5      3.5      3.0
8        Yash Pruitt      S2      4.0      1.0      1.0

In [48]:
# example of iloc
grades_df.sort_values(by='CSMODEL').iloc[0]
# sorts the values first, then ilocs the specific record of the sorted data frame

Name       Zidane Riggs
Section              S1
CSMODEL             1.0
CCPROG1             2.0
CCPROG2             3.0
Name: 9, dtype: object

## Adding New Columns

For this, we are going to need the numpy [`where`](https://numpy.org/doc/stable/reference/generated/numpy.where.html) function

In [50]:
import numpy as np

In [55]:
grades_df["Type"] = np.where(grades_df["CSMODEL"] >= 3.5, "Excellent", "Good")
#?np.where
#adds columnm "Type" using the function np.where()
#np.where is a function that essentially has a conditional in side. 
#the conditional inside np.where is that in CSMODEL column, should there be an observation where it is equal or greater than 3.5, return Excellent, otherwise return Good

In [56]:
grades_df

                Name Section  CSMODEL  CCPROG1  CCPROG2       Type
0      Robert Irvine      S2      1.5      1.0      2.0       Good
1        Misha Sweet      S1      2.0      2.5      4.0       Good
2     Forrest Medina      S1      1.0      3.0      1.5       Good
3       Kohen Decker      S1      2.5      3.5      3.0       Good
4      Daniela Quinn      S2      2.5      3.5      3.5       Good
5     Saqlain Branch      S1      3.0      2.5      2.5       Good
6   Evie-Mai Maynard      S1      2.5      3.0      4.0       Good
7      Orion Sparrow      S2      1.5      1.0      2.5       Good
8        Yash Pruitt      S2      4.0      1.0      1.0  Excellent
9       Zidane Riggs      S1      1.0      2.0      3.0       Good
10    Armaan Fischer      S2      3.5      4.0      3.5  Excellent
11   Amman Sanderson      S2      2.5      4.0      3.5       Good
12       Eamon Hobbs      S2      2.5      3.5      2.0       Good
13       Eman Riddle      S1      3.5      2.5      2.5  Excellent
14      Ikrah Chavez      S2      3.0      2.5      1.5       Good
15     Carlos Robins      S2      3.5      3.0      4.0  Excellent
16      Willem Green      S2      3.5      4.0      4.0  Excellent
17      Jacques Leon      S1      2.0      1.0      3.5       Good
18       Sohail Ford      S1      1.5      1.5      4.0       Good
19       Griffin Liu      S2      3.5      3.5      3.0  Excellent

## Aggregate Data

In [ ]:
# Getting the Mean of the CSMODEL column
grades_df["CSMODEL"].mean()

In [ ]:
# Getting the Mean of all of the applicable columns in the DataFrame
grades_df.mean()

You can also aggregate data using the [`agg`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html) function.

In [ ]:
grades_df["CSMODEL"].agg(['mean','std','min','max'])

## Group By Variable

In [ ]:
grades_df[["Section","CSMODEL"]].groupby(by="Section").min()

In [ ]:
grades_df[["Section", "CSMODEL"]]

In [ ]:
grades_df[["Section","CSMODEL"]].groupby(by="Section").max()

To combine [`min`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.min.html) and [`max`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.max.html) of both sections under the same dataframe, we can use the [`agg`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html) function

In [ ]:
grades_df[["Section","CSMODEL"]].groupby(by="Section").agg(['min','max'])